
h1
{
	font-size: calc(14px + 1.7vw);
}

#conteneur
{
    display: flex;
    width: 75%;
    height: 50%;
    justify-content: space-between;
    margin: auto;
}

*
{
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
/*	object-fit: contain;*/
}

body{
	background-image: linear-gradient(to right, rgba(255, 0, 202,0.15) , rgba(0, 187, 255,0.15));
}

.meta_fille, .meta_garcon
{
	
	width: 90%;
	border-radius: 6%;
	margin:3%;
	flex:1;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	justify-content: center;
}

.meta_fille
{
    border:	rgb(255, 0, 202) 5px solid;
    box-shadow: 0px 0px 15px rgba(255, 0, 202, 0.9); 
}

.meta_fille:hover
{
	box-shadow: 0px 0px 50px rgba(255, 0, 202, 0.9); 
}

.meta_garcon:hover
{
	box-shadow: 0px 0px 50px rgba(0, 187, 255, 0.9); 
}

.meta_garcon
{
    border:	rgb(0, 187, 255) 5px solid;
    box-shadow: 0px 0px 15px rgba(0, 187, 255, 0.9); 
}

.element
{
	align-items: center;
	font-size: 100%;
	font-weight: bold;
	align-self: center;
	margin:0;
}

.element:nth-child(1)
{
    width:90%;
    font-size: calc(8px + 1.8vw);
	font-weight: bold;
    overflow: auto;
    flex-basis: 0.2;
}
.element:nth-child(2)
{
    width:90%;
    height: 90%;
    display: flex;
    align-items: center;
	justify-content: center;
	flex-basis: 0.8;

}


.img_fille
{
	width: 75%;
	height: 55%;
}

.img_garcon
{	
	align-self: center; 
	width: 95%;
}

footer
{
	width: 66%;
	margin: auto;
	margin-top: 150px;
	border-top: solid gray 2px;
}

footer p
{
	font-size:calc(6px + 1vw);
	text-align: center;

}

p
{
	font-size: calc(11px + 1.6vw);
	font-weight: bold;
}